#!MANAGED-CONFIG http://burpsuite.site/Rule/Advanced/Surge.php?AutoGroup=false&Rule=false&Apple=false&IPV6=false&Group=1&Config1=127.0.0.1,80,aes-256-cfb,Password&Config2=127.0.0.1,80,aes-256-cfb,Password&Config3=127.0.0.1,80,aes-256-cfb,Password&Config4=127.0.0.1,80,aes-256-cfb,Password&Config5=127.0.0.1,80,aes-256-cfb,Password&Flag1=CN&Flag2=NONE2&Flag3=NONE3&Flag4=NONE4&Flag5=NONE5&Protocol=custom&Logo=true interval=86400
[General]
bypass-system = true
skip-proxy = 10.0.0.0/8, 17.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, localhost, *.local, ::ffff:0:0:0:0/1, ::ffff:128:0:0:0/1, *.crashlytics.com, *.helpshift.com, *.supercell.net
bypass-tun = 10.0.0.0/8, 127.0.0.0/24, 172.0.0.0/8, 192.168.0.0/16
dns-server = 8.8.8.8, 8.8.4.4
loglevel = notify
replica = false
ipv6 = false
#  
# Surge Config File [CloudGate]
# Last Modified: 2016-11-15 01:43:04
# 
[Proxy]
CN = custom,127.0.0.1,80,aes-256-cfb,Password,http://7xpphx.com1.z0.glb.clouddn.com/Proxy/Surge.Module
[Proxy Group]
Proxy = select, CN